
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Untitled 2</title>
<style type="text/css">
.auto-style1 {
	font-size: xx-large;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	text-align: center;
}
.auto-style2 {
	text-align: center;
}
.auto-style3 {
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
</style>
</head>

<body>

<p class="auto-style1">OpenGrubHub</p>
<p class="auto-style3"></p>
<p class="auto-style3"><a href="mainPage.html">Recommended Restaurants</a>|Search 
for restaurant| Profile</p>
<p class="auto-style3">Custome Profile</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2">Picture:</p>
<p class="auto-style2">Name:</p>
<p class="auto-style2">Favorite restaurant:</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2"><a href="aboutUs.html">About us</a></p>

</body>

</html>
