<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  {% load static %}
  {% load ratings %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RestaurantProfile</title>
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
  <link rel="stylesheet" href="{% static 'Profiles/css/ratings-styling.css' %}">
  <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
  <style type="text/css">
  .auto-style1 {
    text-align: center;
    align-items: center;
  }
  .star-ratings {
    text-align: center;
    align-items: center;
  }
  .auto-style2 {
    text-align: center;
    font-size: x-large;
  }
  .auto-style3 {
    margin-left: 0px;
  }
  .auto-style5 {
    border-style: solid;
    border-width: 1px;
  }
  </style>
</head>

<body>

<p class="auto-style2"><strong>{{ obj.restaurant_profile.restaurant_name }}</strong></p>
<!-- <p class="auto-style2"><strong>{{ obj.restaurant_profile.long }}</strong></p>
<p class="auto-style2"><strong>{{ obj.restaurant_profile.lat }}</strong></p> -->


<div class="auto-style1">{% ratings obj %}</div>
{% if obj.email == request.user.email %}
<div class="auto-style1"><a href="{{ obj.restaurant_profile.get_absolute_url_manage }}"> Manage Restaurant</a></div>
{% endif %}
<p class="auto-style1"><img alt="" class="auto-style3" src="" /></p>
{% if request.user.is_customer == True %}
<p class="auto-style1"><a href="{% url 'ReservationApp:make-reservation-view' restaurant=obj.id %}">
  <button>Make Reservation</button>
</a></p>
{% endif %}
<p class="auto-style1">9:00 10:00 11:00</p>
<p class="auto-style1">12:00 13:00 14:00</p>
<p class="auto-style1">Additional Seating Options</p>
<p class="auto-style1"><span class="auto-style5">//Calender System here</span></p>
<p class="auto-style1">&nbsp;</p>
<p class="auto-style1">Call for Takeout</p>
<p class="auto-style1">&nbsp;</p>
<p class="auto-style1">Find Future Times</p>
<p class="auto-style1">&nbsp;</p>
<p class="auto-style1">Delievry Fee: $3.11</p>
<p class="auto-style1">Scheduled Delivery Time: 30-50 minutes</p>
<p class="auto-style1"><span class="auto-style5">Order HIstory</span> &amp;
<span class="auto-style5">Pick for you</span> &amp; <span class="auto-style5">
Noodles</span> &amp; <span class="auto-style5">Boiled</span> &amp;
<span class="auto-style5">Stir-Fried</span> &amp; <span class="auto-style5">
Appetizer</span> &amp; <span class="auto-style5">Vegetables</span></p>
<p class="auto-style1">&nbsp;</p>
<p class="auto-style1"><span class="auto-style5">Make Order Now!</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span class="auto-style5">Confirm Personal Info</span></p>
<div id="layer1" style="position: absolute; width: 631px; height: 63px; z-index: 1; left: 808px; top: 11px">
</div>
<p class="auto-style1">
<form method="post">

</form>
</p>


</body>

</html>
