<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestaurantProfile</title>
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <link rel="stylesheet" href="{% static 'Profiles/css/ratings-styling.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</head>
<body>
<h1>Name = {{ obj.restaurant_profile.restaurant_name }}</h1>
<h2>Address = {{ obj.restaurant_profile.restaurant_address }}</h2>
{% load ratings %}
{% ratings obj %}
<a href="{% url 'ReservationApp:make-reservation-view' %}">Make a Reservation</a>
<!-- <button class="open-button" onclick="openForm()">Restaurant Account Creation</button> -->
</body>
</html>