<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="zh-cn" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Untitled 2</title>
<style type="text/css">
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	text-align: center;
	font-size: xx-large;
}
</style>
</head>

<body>

<p class="auto-style2"><strong>Personal Profile</strong></p>
<p class="auto-style1"><img alt="" src="" />Change the Account Photo</p>
<p class="auto-style1">Payment</p>
<p class="auto-style1">Favourite</p>
<p class="auto-style1">Help</p>
<p class="auto-style1">Setting</p>
<p class="auto-style1">Phone number: 315-xxx-1544</p>
<p class="auto-style1">Address: 4101 Brighton place Syracuse New York</p>
<p class="auto-style1">Zipcode: 13210</p>
<p class="auto-style1">Email: <a href="mailto:71222222@qq.com">71222222@qq.com</a></p>
<p class="auto-style1">&nbsp;</p>
<p class="auto-style1">&nbsp;</p>
<p class="auto-style1"><img alt="" src="" />Reservation&nbsp;&nbsp;&nbsp;&nbsp;
<img alt="" src="" />Order&nbsp;&nbsp;&nbsp;&nbsp; <img alt="" src="" />Community&nbsp;&nbsp;&nbsp;&nbsp;
<img alt="" src="" />Back</p>

</body>

</html>
