<!DOCTYPE HTML>
<html lang="en">
  
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, 
       initial-scale-1, shrink-to-fit=no">
  <title>This appears in the browser tab</title>
  <link rel="stylesheet" href="{% static 'Community/community_home_style.css' %}">
</head>

<body>

<h1>Welcome to our community!</h1>

</body>

<form action="/" method="post">
    <h2>Comment</h2>
    
      <fieldset>
    
        <label for="name">Comment</label>
        <input type="text" id="comment" name="comment" value="" required>
   
    
      </fieldset>
    
    
      <button type="submit">Submit</button>
    
    </form>
