<!DOCTYPE HTML>
<html lang="en">
  
<head>
{% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, 
       initial-scale-1, shrink-to-fit=no">
  <title>This appears in the browser tab</title>
  <link rel="stylesheet" href="{% static 'Community/community_home_style.css' %}">
</head>

<body>

<h1>Welcome to our community!</h1>

</body>
<div class="form-popup" id="myForm">
    <form autocomplete="off" class="comment" method="post">{% csrf_token %}
      <h2>Comment</h2>
        {{ comment_form.as_div }}
        <fieldset> 
        </fieldset>
        <button type="submit">Submit</button>
    </form>
  </div>
<!-- <form action="/" method="post">
    <h2>Comment</h2>
    
      <fieldset>
    
        <label for="name">please submit comment friendly❤</label>
        <input type="text" id="comment"  name="comment" value="" required>
   
    
      </fieldset>
    
    
      <button type="submit">Submit</button>
    
    </form> -->
    <h1>Comment Area </h1>


    {% for comment in comment_query_set %}
    <br>
    <div class='demo'>
        <h3 style="margin:1px"> {{ comment.user }}</h3>
        <h1 style="margin:1px">{{ comment.comment }}</h1>
        {% load tz %}
  
        <div style='margin:1px 1px 5px 1px'> {{ comment.create_time|localtime }}</div>
      
    </div>
    <br>
{% endfor %}

	

</body>
</html>