* {
    box-sizing: border-box;
  }
  
  body {
    font: 16px Arial;  
  }

  .restaurant.profile div {
    border: 1px solid transparent;
    background-color:#d4d4d4;
    padding: 10px;
    font-size: 16px;
    text-align: center;

  }
  
.restaurant.profile input[type="submit"] {
    background-color:#881f1f;
    position: relative;
    width: 400px;
    height: 200px;

}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }