  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color:#d4d4d4;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #d4d4d4;
    width: 100%;
  }
  
  input[type=password] {
    background-color: #d4d4d4;
    width: 100%;
  }

  input[type=submit] {
    background-color: #d4d4d4;
    color: rgb(46, 110, 71);
    cursor: pointer;
  }
  

  .autocomplete-items2 div {
    position:absolute;
    border: 5px solid #8b3636;


  }


  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: rgb(25, 170, 5) !important; 
    color: #ffffff; 
  }