{% extends 'base.html' %}

{% block content %}

<!-- <form method="POST"> {% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Save" />

</form> -->
<a href="{% url 'Community:community-home' %}">
   <button>Communiy Home</button>
</a>

<a href="{% url 'Community:comment-list' %}">
   <button>Comments List</button>
</a>



<a href="{% url 'FileUpload:css-upload' %}">
   <button>Profile Image Upload Test</button>
</a>


<a href="{% url 'ReservationApp:seat-list' %}">
   <button>Reservation Seat list</button>
</a>
<a href="{% url 'ReservationApp:contacts' %}">
   <button>Reservation Contacts</button>
</a>




<!-- 
path("details/", viewReservationDetail, name="reservation-detail"),
path("list/", viewReservations, name="reservation-list"),
path("seats/", viewSeatArea, name="seat-list"), -->
{% endblock %}