
<head>
<meta content="zh-cn" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<style type="text/css">
.auto-style1 {
	text-align: center;
	font-size: xx-large;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.auto-style2 {
	text-align: center;
}
</style>
</head>

<body>

<p class="auto-style1">&nbsp;</p>
<p class="auto-style1">OpenGrubHub</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2">Welcome,please login</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2"><a href="Login.html">Login</a>|<a href="creatAccount.html">Create 
Account</a></p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2">&nbsp;</p>
<p class="auto-style2"><a href="aboutUs.html">About us</a>&nbsp; </p>

</body>

</html>
