{% extends 'base.html' %}

{% block content %}

<!-- <form method="POST"> {% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Save" />

</form> -->
<a href="login">
    <button>Login</button>
 </a>

 <a href="{% url 'EntryPage:customer-create-view' %}">
    <button>Create Account Customer</button>
 </a>

 <a href="{% url 'EntryPage:restaurant-create-view' %}">
   <button>Create Account Restaurant</button>
</a>
<a href="{% url 'Community:community-home' %}">
   <button>Communiy Home</button>
</a>

<a href="{% url 'Community:comment-list' %}">
   <button>Comments List</button>
</a>


 <a href="{% url 'EntryPage:hf-create-account' %}">
   <button>Create Account HF</button>
</a>

<a href="{% url 'EntryPage:hf-entry-page' %}">
   <button>EntryPage HF</button>
</a>

<a href="{% url 'EntryPage:hf-main-page' %}">
   <button>MainPage HF</button>
</a>

 <a href="{% url 'EntryPage:about-us' %}">
   <button>About Us</button>
</a>

<a href="{% url 'FileUpload:css-upload' %}">
   <button>CSS Upload Test</button>
</a>

<a href="{% url 'ReservationApp:make-reservation-view' %}">
   <button>Reservation Home</button>
</a>
<a href="{% url 'RestaurantFinder:home-list-view' %}">
   <button>Restaurant List</button>
</a>

<a href="{% url 'ReservationApp:reservation-detail' %}">
   <button>Reservation Detail</button>
</a>
<a href="{% url 'ReservationApp:reservation-list' %}">
   <button>Reservation List</button>
</a>
<a href="{% url 'ReservationApp:seat-list' %}">
   <button>Reservation Seat list</button>
</a>
<a href="{% url 'ReservationApp:contacts' %}">
   <button>Reservation Contacts</button>
</a>

<!-- 
path("details/", viewReservationDetail, name="reservation-detail"),
path("list/", viewReservations, name="reservation-list"),
path("seats/", viewSeatArea, name="seat-list"), -->
{% endblock %}