<!DOCTYPE HTML>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Untitled 1</title>
{% load static %}
<link href="css/styles.css" rel="stylesheet" type="text/css" media="screen">
<link rel="stylesheet" type="text/css" href="{% static 'EntryPage/css/main-page-styles.css' %}">

</head>

<body>

<div id = "title"><p class="auto-style5"><span class="auto-style6">OpenGrubHub&nbsp; </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!-- <button class="auto-style7" name="Abutton1">Log in</button></p> -->
<p class="auto-style3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
Make your life easier! </p>
</div>

<div id="about">
</div>

<div id= "guide">
	<ul>
		<li><a href="{% url 'EntryPage:entry_view' %}">TESTING ONLY</a></li>
		<!-- Make search Go to the Restaurant List -->
		<li><a href="{% url 'RestaurantFinder:home-list-view' %}">Restaurant's</a></li>

		<!-- Change the about us HTML URL -->

		<!-- ADD THESE URLS -->
		{% if user.is_authenticated %}
		{% if request.user.is_customer == True %}
		<li><a href= "{% url 'ReservationApp:reservation-list' %}">View Reservation's</a></li>
		{% else %}
		<li><a href= "{% url 'ReservationApp:reservation-list' %}">View Reservation's</a></li>
		{% endif %}
		<li><a href= "{% url 'EntryPage:logout' %}">Logout</a></li>

		{% else %}
		<li><a href= "{% url 'EntryPage:login' %}">Login</a></li>
		<li><a href= "{% url 'EntryPage:restaurant-create-view' %}">Create Account Restaurant</a></li>
		<li><a href= "{% url 'EntryPage:customer-create-view' %}">Create Account Customer</a></li>
		{% endif %}
		<li><a href="{% url 'EntryPage:about-us' %}">About</a></li>
		<!-- <li><a href= "">Community</a></li>
		<li><a href= "">Add Profile Image</a></li> -->

	</ul>
</div>

<div id= "banner"> <p> </p>
	<img src="{% static 'EntryPage/img/Steak.jpg' %}" class="auto-style8" height="400" width="1480" />
</div>

<div id= "subbanner"> 
	<h3> Recommended</h3>
</div>


<div id= "content"> 
	<h1>Welcome to OpenGrubHub</h1>
	<p> 	As the population dramatically increases and people tend to try various types of
food from different countries, the demand for restaurants seems to increase as well.
However, people sometimes have fewer channels to reach the information of
different restaurants. Even if they are able to do it, they may have some problems
like a long queue, business hours, price of food, questions asking, and so on.
Similarly, if people want to hold a big party, they would like to plan ahead and
book an appointment, but the missing phone call and time-limited may come under
straitened circumstances. Besides, the weather is an important factor which causes
people to want to have a delivery order. Fortunately, in this day and age of
digitalization, our new killer app Open Grub Table Hub is an ideal app to make
people’s lives more convenient and time-saving.</p>
</div>

</body>

</html>
