h1 {
    color:rgb(16, 16, 16);
    font-size: 24px;
    text-align: center;
  }

  form {
    margin: 10px auto;
    margin-right:10px;
    margin-left:10px;
    padding: 10px 20px;
    background: #f7f7f7;
    border-radius: 8px;
    border: 1px solid black;
  }
  
  
  input[type="text"],
    input[type="email"],
    textarea {
      background: rgba(255, 255, 255, 0.808);
      border: 2px solid transparent;
      font-size: 16px;
      height: auto;
      margin: 0;
      outline: 0;
      padding: 15px;
      width: 100%;
      background-color: #f5f5f5;
      color: black;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
      margin-bottom: 30px;
      caret-color: rgb(0, 0, 0);
      transition: all 350ms;
      border: 2px solid black;
    }
  
  
  input:focus,
  textarea:focus {
    transition: 1s;
    box-shadow: 0 0 0 5px rgba(255, 255, 125, 0.519);
  }
  
  label:required {
    color: yellow;
  }
  
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  button {
    padding: 19px 39px 18px 39px;
    color: black;
    background: linear-gradient(45deg,rgb(222, 249, 222),rgb(247, 247, 145));
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
    transition: all 350ms;
    text-align: center;
    font-style: normal;
    border-radius: 8px;
    border: none;
   
  }
  
  button:hover,
  button:focus {
    background:rgb(247, 247, 145);
    color: black;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: black;
  }
  
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }

  h{
    color:rgb(16, 16, 16);
    font-size: 24px;
    text-align: center;
  
    
      background: rgba(255, 255, 255, 0.808);
      border: 2px solid transparent;
      font-size: 16px;
      height: auto;
      margin: 0;
      outline: 0;
      padding: 15px;
      width: 100%;
      background-color: #f5f5f5;
      color: black;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
      margin-bottom: 30px;
      caret-color: rgb(0, 0, 0);
      transition: all 350ms;
      border: 2px solid black;
      border-color :cornflowerblue
      
    }

    .demo{
        width: 99%;
        border: 3px solid rgb(235,151,77);
	    border-radius: 10px;
    }


  