{% load crispy_forms_tags %}
<form class="reservation" method="post">{% csrf_token %}
        {{ form.as_p }}
    <input type="submit" value="Save">
</form>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hot Restaurant</title>
  
<body>

  <div class="container">
    <div class="jumbotron">
      <h1>Hot Restaurant</h1>
      <h3>Please make your reservation!</h3>
      <hr>
      <a href="./table.html"><button class="btn btn-danger btn-lg"><span class="fa fa-eye"></span>View
          Tables</button></a>
      <a href="./index.html"><button class="btn btn-danger btn-lg">Home</button></a>
    </div>
    <div class="row">

      <div class="col-12">

        <div class="card">
          <div class="card-header">
            <h3><strong>Make Reservation</strong></h3>
          </div>
          <div class="card-body">
            <form method="POST" role="form">

              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name">
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email">
              </div>
              
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone">
              </div>

              <div class="form-group">
                <label for="uniqueID">Unique ID</label>
                <input type="text" class="form-control" id="uniqueid">
              </div>

            </form>
            <br>
            <div class="text-right">
              <button type="submit" class="btn btn-primary btn-md" id="add-btn"><span
                  class="fa fa-fire"></span>Submit</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  
</body>
</html>
              
