<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>View Reservations</title>
<link rel="stylesheet" type="text/css" href="reservations.css">
</head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th{
    text-align: center;
    padding: 8px;
}

td {
    text-align: center;
    padding: 8px;
}


tr:nth-child(even){background-color:#f2f2f2}

th {
    background-color: #9BA4D1;
    color: white;
}
</style>
<body>
<div class="container">
  <div class="header"><a href="#"><img src="restaurant.jpg" alt="Insert Logo Here" name="Insert_logo" width="180" height="90" id="Insert_logo" style="background: #C6D580; display:block;" /></a> 
    RESTAURANT RESERVATIONS
    <!-- end .header --></div>
  <div class="content">
  <br />
<table width="100%" border="0" cellspacing="2px" cellpadding="5px">
  <thead>
      <tr>
        {% if request.user.is_customer %}
        <th width = "5%"> ID </th>
        <th width="15%">Time</th>
        <th width="20%">Date</th>
        <th>Seats Requested</th>
        <th>Restaurant</th>
        <th width="25%"></th>
        {% else %}
        <th width = "5%"> ID </th>
        <th width="15%">Time</th>
        <th width="20%">Date</th>
        <th>Seats Requested</th>
        <th width="25%">First</th>
        <th width="25%">Phone</th>
        <th width="25%"></th>
        {% endif %}
      </tr>
  </thead>
  <tbody>
  {% for res in reservationList %}
    <tr>
      {% if request.user.is_customer %}
      <td> <a href= "{{ res.get_absolute_url }}">{{ res.id }}</a></td>
      <td>{{ res.time }}</td>
      <td>{{ res.date }}</td>
      <td>{{ res.table_size }}</td>
      <td>{{ res.restaurant }}</td>
      <td><a href="{% url 'ReservationApp:reservation-cancel' res.id %}">
        <button>Cancel</button>
     </a>/
     <a href="{% url 'ReservationApp:reservation-edit' res.id %}">
      <button>Edit</button>

      {% else %}
      <td> <a href= "{{ res.get_absolute_url }}">{{ res.id }}</a></td>
      <td>{{ res.time }}</td>
      <td>{{ res.date }}</td>
      <td>{{ res.table_size }}</td>
      <td>{{ res.first_name }}</td>
      <td>{{ res.phone_number }}</td>
      <td><a href="{% url 'ReservationApp:reservation-cancel' res.id %}">
        <button>Cancel</button>
     </a>/
     <a href="{% url 'ReservationApp:reservation-edit' res.id %}">
      <button>Edit</button>

      {% endif %}
   </a>
    </td>
    </tr>
  {% endfor %}
  </tbody>    
</table>
  <!-- end .content --></div>
    <div class="footer">
    <p>Footer</p>
  <!-- end .footer --></div>

  <!-- end .container --></div>
</body>
<script type="text/javascript">
function getReservationDetails(){
	var dir = getFilePath();
	window.location.href = dir + "/view-reservations-details.html";
}


function getFilePath(){
	var loc = window.location.pathname;
	var dir = loc.substring(0, loc.lastIndexOf('/'));
	
	return dir;
}
</script>
</html>
