<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>View Reservation Details</title>
<link rel="stylesheet" type="text/css" href="reservations.css">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<div class="container">
  <div class="header"><a href="#"><img src="restaurant.jpg" alt="Insert Logo Here" name="Insert_logo" width="180" height="90" id="Insert_logo" style="background: #C6D580; display:block;" /></a> 
    RESTAURANT RESERVATIONS
    <!-- end .header --></div>
  <div class="content">
    <div id="reservationDetails">
        <table width="100%" border="0" cellspacing="10px" cellpadding="10px">
          <tr>
            <td>Date</td>
            <td>{{ reservation.date }}</td>
          </tr>
          <tr>
            <td>Time</td>
            <td> {{ reservation.time }}</td>
          </tr>
          <tr>
            <td>Table Size</td>
            <td> {{ reservation.table_size }}</td>
          </tr>
          <tr>
            <td>With High Seat for Baby</td>
            <td>{{ reservation.high_seat }}</td>
          </tr>
          <tr>
            <td>First Name</td>
            <td>{{ reservation.first_name }}</td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td> {{ reservation.last_name }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ reservation.email }}</td>
          </tr>
          <tr>
            <td>Phone Number</td>
            <td>{{ reservation.phone_number }}</td>
          </tr>
          <tr>
            <td>Restaurant</td>
            <td>{{ reservation.restaurant }}</td>
          </tr>
        </table>        

   	</div>
    	
    <br />
  <!-- end .content --></div>
    <div class="footer">
    <p>Footer</p>
  <!-- end .footer --></div>

  <!-- end .container --></div>
</body>
</html>
