
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Untitled 1</title>
<style type="text/css">
.auto-style1 {
	text-align: center;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: xx-large;
}
.auto-style3 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
.auto-style4 {
	text-align: center;
}
</style>
</head>

<body>

<p class="auto-style1">OpenGrubHub</p>
<p class="auto-style1">&nbsp;</p>
<p class="auto-style3">Recommended Restaurants|Search for restaurant|
<a href="customeProfile.html">Profile</a></p>
<p class="auto-style4">&nbsp;</p>
<p class="auto-style4">&nbsp;</p>
<p class="auto-style4">&nbsp;</p>
<p class="auto-style4">&nbsp;</p>
<p class="auto-style4">&nbsp;</p>
<p class="auto-style4">&nbsp;</p>
<p class="auto-style4">&nbsp;</p>
<p class="auto-style4">&nbsp;</p>
<p class="auto-style4">&nbsp;</p>
<p class="auto-style4">&nbsp;</p>
<p class="auto-style4">&nbsp;</p>
<p class="auto-style4">&nbsp;</p>
<p class="auto-style4">&nbsp;</p>
<p class="auto-style4"><a href="aboutUs.html">About Us</a></p>

</body>

</html>
